{% extends 'base.html.twig' %}


{% block body %}

<table class="table table-dark table-striped">
  <thead class="">
    <tr>
      <th>Pays</th>

    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
      <tr>
        <td>{{country.name}}</td>

        <td>
          <a href="/color/{{country.id}}/edit" class="btn btn-secondary btn-sm">Update</a>
          <a href="/color/{{country.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>



  </table>

{% endblock %}
