<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>

      .rectangle{
        width: {{width}}px;
        height: {{height}}px;
        background-color: {{color}};
        margin-bottom:20px;
      }

      </style>
  </head>
  <body>

    {% for i in 0..number %}
    <div class="rectangle">

    </div>
    {% endfor %}


  </body>
</html>
